.gametable {
  margin: 0 1em;
}

.thumbnail-image {
  max-width: 100px;
  max-height: 100px;
}

.thumbnail-cell {
  padding: 5px 0 5px 0em;
  justify-content: center;

}

boardgame-table {
  background-color: "green";
}

.playercell {
  flex-direction: column
}

.header-line {
  margin: 8px 16px;
}

.filter {
  margin: 8px 0;
}

.user-header-line {
  align-items: center;
  justify-content: center;
}

.submit-button {
  margin-left: 16px;
}

.user {
  margin-left: 16px;
}

.header-card {
  margin: 16px 0px;
}
.table-card {
  margin-left: 16px;
}
