<div class="header-line mat-headline-3">
  Collection of {{username}}
</div>

<app-filter [boardgames]="boardgames" (boardgameChange)="updateBoardGameView($event)"></app-filter>

<div class="gametable">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="thumbnailImage">
      <mat-header-cell class="thumbnail-cell" *matHeaderCellDef> Erscheinungsjahr </mat-header-cell>
      <mat-cell class="thumbnail-cell" *matCellDef="let element"><img class="thumbnail-image mat-elevation-z8" src="{{element.thumbnailImage}}"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> <a href="https://boardgamegeek.com/boardgame/{{element.id}}">{{element.id}}</a> </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="players">
      <mat-header-cell *matHeaderCellDef> Spieler </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="playercell">
          <div> {{element.minplayers >= element.maxplayers ? element.minplayers : element.minplayers+"-"+element.maxplayers}} </div>
          <div class="mat-small"> {{element.recommendedPlayers | recommendedPlayer}} </div>
      </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="playtime">
      <mat-header-cell *matHeaderCellDef> Spielzeit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.minplaytime >= element.maxplaytime ? element.minplaytime : element.minplaytime+"-"+element.maxplaytime}} min </mat-cell>
    </ng-container>

    <ng-container matColumnDef="publicationYear">
      <mat-header-cell *matHeaderCellDef> Erscheinungsjahr </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.publicationYear}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef> Rating (1-10) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.rating}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="complexity">
      <mat-header-cell *matHeaderCellDef> Komplexität(1-5) </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.complexity}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 200]"
  showFirstLastButtons
  aria-label="Select page of games">
</mat-paginator>
</div>
